.contact {
  .header {
    h2 {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 40px;
      margin-bottom: 10px;
      span {
        font-size: 32px;
        color: var(--subtitle);
      }
    }

    p {
      color: var(--subtitle);
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    form {
      margin-top: 40px;
      display: flex;
      align-items: start;
      flex-direction: column;

      label {
        color: var(--subtitle);
      }
      input,
      textarea {
        all: unset;
        background-color: rgba(63, 63, 70, 0.15);
        border: 1px solid rgb(63 63 70);
        width: 255px;
        padding: 8px 16px;
        margin-left: 16px;
        border-radius: 5px;
        transition: 0.3s;
        font-size: 1.1rem;
      }
      input:focus,
      textarea:focus {
        border: 1px solid rgb(45 212 191);
      }

      input {
        border-radius: 4px;
      }

      textarea {
        min-height: 155px;
        resize: vertical;
      }

      button {
        background-color: rgba(36, 37, 46, 1);
        padding: 0.75rem 2rem;
        text-align: center;
        font-size: 1.05rem;
        text-transform: capitalize;
        color: white;
        border-radius: 5px;
        transition: 0.3s;
        margin-top: 1.8rem;
        border: 1px solid rgb(63 63 70);

        &:hover{
             scale: 0.97;
        }
      }
    }
  }
}


@media (max-width:600px){

    .contact{
        
        form{
            
            flex-direction: column;
            justify-content: center;
            
            label{
              margin-left: 15px;
              margin-bottom: 10px;
            }
            input , textarea{
                width: 100% ;
            }
             button{
              margin-left: 15px;
             }
            .flex{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
@media (max-width:1230px){
  .contact{
    .content{
      .animation{
        display: none;
      }
    }
  }
}